Repository tenstorrent/tt-llk, pull requests merged in 2025-08, with the labels that each got.

#556 feat: Add auto pre-commit installation feature
  CONTRIBUTING.md
  README.md
  tests/requirements.txt
  tests/setup_testing_env.sh
Labels: documentation, test-infra

#550 [Test Infra] math matmul API: sweep for transpose/haloize + throttle mode
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_math_matmul.py
  tests/sources/math_matmul_test.cpp
Labels: test-infra

#560 ci: update metal post commit tests workflow
  .github/workflows/trigger-tt-metal-post-commit.yml
Labels: ci

#561 ci: improve post-commit workflow result message
  .github/workflows/trigger-tt-metal-post-commit.yml
Labels: ci

#567 ci: temp enable metal workflow from a branch
  .github/workflows/trigger-tt-metal-post-commit.yml
Labels: ci

#569 Fix typecast fp16_b double rounding
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_typecast.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_typecast.h
Labels: blackhole, wormhole, wormhole-integration-tests, blackhole-integration-tests, metal-post-commit-tests

#548 [Test Infra] unpack AB matmul API sweep (first round)
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_unpack_matmul.py
  tests/sources/unpack_matmul_test.cpp
Labels: test-infra

#570 ci: install tt-smi from prebuilt wheel instead of installing it from git repository
  .github/scripts/install-exalens.sh
  .github/scripts/install-smi.sh
  .github/workflows/build-images.yml
  .github/workflows/on-pr.yml
  .github/workflows/pre-commit.yml
Labels: ci

#572 ci: terminate obsolete merge group runs
  .github/workflows/on-pr.yml
Labels: ci

#575 fix: revert "ci: terminate obsolete merge group runs (#572)"
  .github/workflows/on-pr.yml
Labels: ci

#558 Change ALU_FORMAT of SrcA in reduce init to fix MOVB2D bug with Tf32
  tests/sources/reduce_test.cpp
  tt_llk_blackhole/llk_lib/llk_math_reduce.h
  tt_llk_wormhole_b0/llk_lib/llk_math_reduce.h
Labels: blackhole, wormhole, test-infra, wormhole-integration-tests, blackhole-integration-tests, metal-post-commit-tests

#563 Support dynamic multiple tiles + matmul sweep over all matrix dimension combinations
  tests/helpers/include/params.h
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/dimensions.py
  tests/python_tests/helpers/format_config.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/param_config.py
  tests/python_tests/helpers/stimuli_generator.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/perf_fast_tilize.py
  tests/python_tests/test_eltwise_unary_datacopy.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_fast_tilize.py
  tests/python_tests/test_math_matmul.py
  tests/python_tests/test_matmul.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_matmul_pack_untilize.py
  tests/python_tests/test_matmul_unpack_tilize.py
  tests/python_tests/test_multiple_tiles_eltwise.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_reduce.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_tilize_calculate_untilize_L1.py
  tests/python_tests/test_unpack_matmul.py
  tests/python_tests/test_unpack_tilize.py
  tests/python_tests/test_unpack_untilize.py
  tests/sources/matmul_test.cpp
Labels: test-infra, performance

#587 ci: use new GitHub runners
  .github/workflows/manual-tt-metal-integration.yml
  .github/workflows/on-pr.yml
  .github/workflows/run-metal-tests-on-label.yml
Labels: ci

#586 Add threshold implementation
  tests/helpers/include/llk_sfpu_types.h
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/sources/eltwise_unary_sfpu_test.cpp
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_threshold.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_threshold.h
Labels: blackhole, wormhole, test-infra, metal-post-commit-tests

#589 feat: introduce nightly test run workflow
  .github/workflows/nightly.yml
  .github/workflows/on-pr.yml
  .github/workflows/setup-and-test.yml
  tests/python_tests/pytest.ini
Labels: test-infra, ci

#565 [Test Infra] Eltwise unary datacopy API sweep - DstSync and num_faces
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/pack.py
  tests/python_tests/helpers/param_config.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/helpers/unpack.py
  tests/python_tests/test_eltwise_unary_datacopy.py
  tests/sources/eltwise_unary_datacopy_test.cpp
  tt_llk_blackhole/llk_lib/llk_math_eltwise_unary_datacopy.h
Labels: blackhole, test-infra

#593 feat: initial commit of Quasar LLK
  .github/workflows/on-pr.yml
  tests/firmware/riscv/common/risc_attribs.h
  tests/helpers/include/dev_mem_map.h
  tests/helpers/include/llk_sfpu_types.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_cdf.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_rounding_ops.h
  tt_llk_quasar/common/inc/circular_buffer.h
  tt_llk_quasar/common/inc/ckernel.h
  tt_llk_quasar/common/inc/ckernel_addrmod.h
  tt_llk_quasar/common/inc/ckernel_defs.h
  tt_llk_quasar/common/inc/ckernel_dest.h
  tt_llk_quasar/common/inc/ckernel_gpr_map.h
  tt_llk_quasar/common/inc/ckernel_include.h
  tt_llk_quasar/common/inc/ckernel_instr_params.h
  tt_llk_quasar/common/inc/ckernel_ops.h
  tt_llk_quasar/common/inc/ckernel_pcbuf.h
  tt_llk_quasar/common/inc/ckernel_proj_params.h
  tt_llk_quasar/common/inc/ckernel_risc_atomics.h
  tt_llk_quasar/common/inc/ckernel_riscv_debug.h
  tt_llk_quasar/common/inc/ckernel_template.h
  tt_llk_quasar/common/inc/ckernel_trisc_common.h
  tt_llk_quasar/common/inc/ckernel_vector.h
  tt_llk_quasar/common/inc/cmath_common.h
  tt_llk_quasar/common/inc/cpack_common.h
  tt_llk_quasar/common/inc/cunpack_common.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_lrelu.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_recip.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_relu.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_sqrt.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_tanh.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_typecast_fp16b_uint16.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_typecast_int32_fp32.h
  tt_llk_quasar/llk_lib/llk_defs.h
  tt_llk_quasar/llk_lib/llk_io_pack.h
  tt_llk_quasar/llk_lib/llk_io_unpack.h
  tt_llk_quasar/llk_lib/llk_math_common.h
  tt_llk_quasar/llk_lib/llk_math_eltwise_binary.h
  tt_llk_quasar/llk_lib/llk_math_eltwise_binary_broadcast.h
  tt_llk_quasar/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_llk_quasar/llk_lib/llk_math_eltwise_unary_sfpu_common.h
  tt_llk_quasar/llk_lib/llk_math_matmul.h
  tt_llk_quasar/llk_lib/llk_math_reduce.h
  tt_llk_quasar/llk_lib/llk_pack.h
  tt_llk_quasar/llk_lib/llk_pack_common.h
  tt_llk_quasar/llk_lib/llk_pack_matmul.h
  tt_llk_quasar/llk_lib/llk_pack_untilize.h
  tt_llk_quasar/llk_lib/llk_unpack_binary_broadcast_operands.h
  tt_llk_quasar/llk_lib/llk_unpack_binary_operands.h
  tt_llk_quasar/llk_lib/llk_unpack_common.h
  tt_llk_quasar/llk_lib/llk_unpack_matmul.h
  tt_llk_quasar/llk_lib/llk_unpack_reduce.h
  tt_llk_quasar/llk_lib/llk_unpack_tilize.h
  tt_llk_quasar/llk_lib/llk_unpack_unary_operand.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_cdf.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_rounding_ops.h
Labels: blackhole, wormhole, test-infra, ci, quasar

#595 [skip ci] chore: add missing permissions to nightly runs
  .github/workflows/nightly.yml
Labels: ci

#594 Add EXALENS and TRISC boot modes
  .github/scripts/install-exalens.sh
  tests/helpers/include/boot.h
  tests/helpers/src/brisc.cpp
  tests/helpers/src/trisc.cpp
  tests/python_tests/helpers/chip_architecture.py
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/hardware_controller.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_boot_modes.py
  tests/python_tests/test_matmul.py
  tests/setup_external_testing_env.sh
  tests/setup_testing_env.sh
Labels: test-infra, ci

#592 Extend relu impl to int support
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/sources/eltwise_unary_sfpu_test.cpp
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_relu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_relu.h
Labels: blackhole, wormhole, test-infra, metal-post-commit-tests

#602 Fix race between MMIO and Unpacker
  tt_llk_wormhole_b0/llk_lib/llk_unpack_tilize.h
Labels: wormhole, metal-post-commit-tests

#619 perf :zap:: use stddev instead of variance
  tests/python_tests/helpers/perf.py
Labels: test-infra, performance

#606 Create max pool with indices LLK on SFPU
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_max_pool_indices.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_max_pool_indices.h
Labels: blackhole, wormhole
