Repository tenstorrent/tt-llk, pull requests merged in 2025-10, with the labels that each got.

#699 adding port of welfords to BH after being tested extensively on WH
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_welfords.h
  tt_llk_blackhole/llk_lib/llk_math_welfords_sfpu.h
  tt_llk_blackhole/llk_lib/llk_math_welfords_sfpu_params.h
Labels: blackhole

#652 Move tt-metal low level tt/tti instructions
  tt_llk_blackhole/llk_lib/llk_pack.h
  tt_llk_blackhole/llk_lib/llk_pack_untilize.h
  tt_llk_blackhole/llk_lib/llk_unpack_untilize.h
  tt_llk_wormhole_b0/llk_lib/llk_pack.h
  tt_llk_wormhole_b0/llk_lib/llk_pack_untilize.h
  tt_llk_wormhole_b0/llk_lib/llk_unpack_untilize.h
Labels: community, LLK

#682 Unpack and math for col - tile for SDPA perf improvement
  tests/python_tests/helpers/test_config.py
  tests/python_tests/perf_unpack_a_bcast_eltwise.py
  tests/python_tests/test_unpack_a_bcast_eltwise.py
  tests/sources/unpack_a_bcast_eltwise_perf.cpp
  tests/sources/unpack_a_bcast_eltwise_test.cpp
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary.h
  tt_llk_wormhole_b0/llk_lib/llk_unpack_AB.h
Labels: wormhole, test-infra, performance, performance-tests

#716 perf :zap:: matmul performance benchmark
  tests/python_tests/perf_matmul.py
  tests/sources/matmul_perf.cpp
Labels: test-infra, performance, performance-tests

#714 Fix packer reconfig to account for num_faces and partial_face
  tt_llk_blackhole/common/inc/cpack_common.h
  tt_llk_blackhole/llk_lib/llk_pack.h
Labels: blackhole, blackhole-integration-tests, metal-post-commit-tests

#717 [skip ci] ci: run performance tests if perf files are touched
  .github/workflows/on-pr.yml
  .github/workflows/run-perf-tests.yml
  .github/workflows/setup-and-test.yml
Labels: ci, performance

#720 ci: update tt-exalens version
  .github/scripts/install-exalens.sh
  tests/setup_external_testing_env.sh
Labels: test-infra, ci

#723 [skip ci] build: correct url path for metal headers
  tests/setup_testing_env.sh
Labels: test-infra
