Repository tenstorrent/tt-llk, pull requests merged in 2025-07, with the labels that each got.

#444 perf :zap:: generate baseline scatter graph
  .gitignore
  tests/python_tests/helpers/perf.py
  tests/python_tests/perf_eltwise_binary_fpu.py
  tests/requirements.txt
Labels: test-infra, performance

#382 feat: Add logical right shift op
  tests/helpers/include/params.h
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/test_sfpu_binary.py
  tests/sources/sfpu_binary_test.cpp
  tt_llk_blackhole/common/inc/ckernel_defs.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_shift.h
  tt_llk_wormhole_b0/common/inc/ckernel_defs.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_shift.h
Labels: blackhole, wormhole, test-infra

#440 Add unary sfpu params
  tt_llk_blackhole/llk_lib/llk_math_eltwise_unary_sfpu_params.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_unary_sfpu_params.h
Labels: blackhole, wormhole

#447 Enable sfpu binary multiple tiles
  tests/python_tests/test_sfpu_binary.py
  tests/sources/sfpu_binary_test.cpp
Labels: test-infra

#380 Add atanh implementation
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_log.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_sqrt.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_trigonometry.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_log.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_sqrt.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_trigonometry.h
Labels: blackhole, wormhole, wormhole-integration-tests, blackhole-integration-tests

#443 Support running tests on simulator
  tests/python_tests/conftest.py
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/target_config.py
Labels: test-infra

#471 fix: check architecture before downloading headers
  tests/python_tests/conftest.py
Labels: test-infra

#475 test infra :test_tube:: decouple build from chip architecture
  tests/Makefile
  tests/python_tests/conftest.py
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/profiler.py
Labels: test-infra, performance

#479 build: add loguru package for logging
  tests/requirements.txt
  tests/setup_external_testing_env.sh
  tests/setup_testing_env.sh
Labels: test-infra

#483 Update silu op
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_silu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_silu.h
Labels: blackhole, wormhole, wormhole-integration-tests, blackhole-integration-tests

#493 refactor: change the way we add new sfpu types for testing
  tests/helpers/include/params.h
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/test_config.py
  tests/sources/eltwise_unary_sfpu_test.cpp
  tests/sources/matmul_and_unary_sfpu_test.cpp
  tests/sources/reduce_test.cpp
Labels: test-infra

#492 test infra :test_tube:: remove fw_debug.h
  tests/firmware/riscv/common/fw_debug.h
  tt_llk_blackhole/common/inc/ckernel.h
  tt_llk_blackhole/common/inc/ckernel_template.h
  tt_llk_blackhole/common/inc/cmath_common.h
  tt_llk_blackhole/llk_lib/llk_math_eltwise_binary.h
  tt_llk_blackhole/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_llk_blackhole/llk_lib/llk_pack_common.h
  tt_llk_blackhole/llk_lib/llk_unpack_common.h
  tt_llk_wormhole_b0/common/inc/ckernel.h
  tt_llk_wormhole_b0/common/inc/ckernel_template.h
  tt_llk_wormhole_b0/common/inc/cmath_common.h
  tt_llk_wormhole_b0/common/inc/cpack_common.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_dropout.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_llk_wormhole_b0/llk_lib/llk_pack_common.h
  tt_llk_wormhole_b0/llk_lib/llk_unpack_common.h
Labels: blackhole, wormhole, test-infra

#481 feat: Add fill implementation
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/sources/eltwise_unary_sfpu_test.cpp
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_fill.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_fill.h
Labels: blackhole, wormhole, test-infra

#499 fix: add more sfpu unary ops to mm fused test
  tests/python_tests/test_matmul_and_unary_sfpu.py
Labels: test-infra

#412 Fast tilize implementation
  tests/helpers/include/data_format_inference.h
  tests/helpers/include/profiler.h
  tests/python_tests/conftest.py
  tests/python_tests/helpers/chip_architecture.py
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/perf.py
  tests/python_tests/perf_fast_tilize.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_fast_tilize.py
  tests/sources/fast_tilize_test.cpp
  tt_llk_wormhole_b0/common/inc/ckernel_instr_params.h
  tt_llk_wormhole_b0/common/inc/ckernel_template.h
  tt_llk_wormhole_b0/common/inc/cpack_common.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_llk_wormhole_b0/llk_lib/llk_pack.h
  tt_llk_wormhole_b0/llk_lib/llk_pack_common.h
  tt_llk_wormhole_b0/llk_lib/llk_unpack_tilize.h
Labels: wormhole, test-infra, performance

#378 Make instrn_buffer an array
  tests/helpers/include/ckernel_helper.h
  tests/helpers/ld/memory.blackhole.ld
  tests/helpers/ld/memory.wormhole.ld
  tt_llk_blackhole/common/inc/ckernel.h
  tt_llk_wormhole_b0/common/inc/ckernel.h
Labels: blackhole, wormhole, test-infra, wormhole-integration-tests, blackhole-integration-tests

#508 ci: fix permissions of check-stale workflow
  .github/workflows/check-stale.yml
Labels: ci

#518 ci: disable harbor as it seems to be down
  .github/workflows/setup-and-test.yml
Labels: ci

#521 Revert "ci: disable harbor as it seems to be down"
  .github/workflows/setup-and-test.yml
Labels: ci

#512 test infra 🧪: refactor parametrization
  tests/python_tests/conftest.py
  tests/python_tests/helpers/param_config.py
  tests/python_tests/perf_eltwise_binary_fpu.py
  tests/python_tests/pytest.ini
  tests/python_tests/test_eltwise_unary_datacopy.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_fast_tilize.py
  tests/python_tests/test_matmul.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_matmul_pack_untilize.py
  tests/python_tests/test_matmul_unpack_tilize.py
  tests/python_tests/test_multiple_tiles_eltwise.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_reduce.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_tilize_calculate_untilize_L1.py
  tests/python_tests/test_ttnn_where.py
  tests/python_tests/test_unpack_tilize.py
  tests/python_tests/test_unpack_untilize.py
Labels: test-infra, performance

#517 fix: move required header download to shell script
  .gitignore
  setup_clangd.sh
  tests/python_tests/conftest.py
  tests/setup_testing_env.sh
Labels: test-infra

#533 Cleanup ternary API for ttnn where
  tests/python_tests/test_ttnn_where.py
  tt_llk_blackhole/llk_lib/llk_math_eltwise_ternary_sfpu.h
  tt_llk_blackhole/llk_lib/llk_math_eltwise_ternary_sfpu_params.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_ternary_sfpu.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_ternary_sfpu_params.h
Labels: blackhole, wormhole, test-infra

#536 passing ITERATIONS to where LLK
  tests/sources/ttnn_where_test.cpp
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_where.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_where.h
Labels: blackhole, wormhole, test-infra

#535 perf :zap:: reset_mailboxes in wrong place
  tests/python_tests/helpers/perf.py
Labels: test-infra, performance

#543 fix: Update celu implementation
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_activations.h
Labels: blackhole, wormhole

#545 Add missing header in BH for where op
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/llk_lib/llk_math_eltwise_ternary_sfpu_params.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_ternary_sfpu_params.h
Labels: blackhole, wormhole

#546 Fix eltwise MUL bcast COLs from calling ZEROACC with no Dest reuse
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary.h
Labels: wormhole, wormhole-integration-tests

#555 ci: mirror fork branch workflow
  .github/workflows/mirror-fork-branches.yml
Labels: ci
