Repository tenstorrent/tt-llk, pull requests merged in 2025-09, with the labels that each got.

#631 perf :zap:: introduce loop_factor as profiler feature
  tests/python_tests/helpers/perf.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/perf_fast_tilize.py
  tests/sources/fast_tilize_test.cpp
Labels: performance

#636 ci: use PAT for triggering workflows from the other repository (tt-metal)
  .github/workflows/trigger-tt-metal-post-commit.yml
Labels: ci

#638 Bump tt-exalens
  .github/Dockerfile.base
  .github/scripts/install-exalens.sh
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/profiler.py
  tests/python_tests/test_ttnn_where.py
  tests/setup_external_testing_env.sh
  tt_llk_quasar/common/inc/ckernel_riscv_debug.h
  tt_llk_quasar/common/inc/ckernel_vector.h
  tt_llk_quasar/llk_lib/llk_math_common.h
  tt_llk_quasar/llk_lib/llk_pack_common.h
Labels: test-infra, ci, performance, quasar

#637 Move reporting fixture into perf.py
  tests/python_tests/conftest.py
  tests/python_tests/helpers/perf.py
  tests/python_tests/perf_eltwise_binary_fpu.py
  tests/python_tests/perf_fast_tilize.py
  tests/python_tests/perf_math_transpose.py
  tests/python_tests/perf_unpack_tilize.py
  tests/python_tests/perf_unpack_transpose.py
Labels: test-infra, performance

#588 Vsuresh tt/welfords llk
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_welfords.h
  tt_llk_wormhole_b0/llk_lib/llk_math_welfords_sfpu.h
  tt_llk_wormhole_b0/llk_lib/llk_math_welfords_sfpu_params.h
Labels: wormhole

#655 Add BFP4/2 support for fast_tilize
  tt_llk_wormhole_b0/llk_lib/llk_pack.h
Labels: metal-post-commit-tests

#649 Welfords LLK: Add an option to use a precomputed Look Up Table (LUT) for reciprocals
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_welfords.h
  tt_llk_wormhole_b0/llk_lib/llk_math_welfords_sfpu_params.h
Labels: wormhole

#662 pack_untilize: assert full_ct_dim % block_ct_dim == 0
  tt_llk_blackhole/llk_lib/llk_pack_untilize.h
  tt_llk_wormhole_b0/llk_lib/llk_pack_untilize.h
Labels: blackhole, wormhole, metal-post-commit-tests

#663 perf :zap:: benchmark _llk_pack_untilize_
  tests/helpers/include/data_format_inference.h
  tests/helpers/include/perf.h
  tests/python_tests/helpers/test_config.py
  tests/python_tests/perf_pack_untilize.py
  tests/sources/math_transpose_perf.cpp
  tests/sources/pack_untilize_perf.cpp
Labels: test-infra, performance

#667 [skip ci] ci: fix missing permissions for performance nightly workflow
  .github/workflows/nightly-perf-tests.yml
Labels: ci, performance

#670 Revert "#11816: Add reshuffle_rows to Blackhole (#665)"
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_reshuffle_rows.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_reshuffle_rows.h
Labels: blackhole, wormhole

#676 [skip ci] ci: publish performance data as part of perf test runs
  .github/Dockerfile.base
  .github/Dockerfile.ird.slim
  .github/workflows/run-perf-tests.yml
  .github/workflows/setup-and-test.yml
Labels: ci, performance, performance-tests

#686 perf :zap:: improved perf_math_transpose
  tests/python_tests/perf_math_transpose.py
  tests/sources/math_transpose_perf.cpp
Labels: test-infra, performance, performance-tests

#690 [skip ci] perf :zap:: enable _llk_pack_untilize benchmark for blackhole
  tests/python_tests/perf_pack_untilize.py
Labels: test-infra, performance, performance-tests

#693 [skip ci] ci: stop overwriting messages with post-commit workflow results
  .github/workflows/trigger-tt-metal-post-commit.yml
Labels: ci

#696 setup quasar infrastructure and enable running risc tests on quasar
  tests/Makefile
  tests/helpers/include/boot.h
  tests/helpers/include/perf.h
  tests/helpers/ld/memory.blackhole.ld
  tests/helpers/ld/memory.quasar.ld
  tests/helpers/src/trisc.cpp
  tests/hw_specific/quasar/inc/cfg_defines.h
  tests/hw_specific/quasar/inc/t6_debug_map.h
  tests/hw_specific/quasar/inc/t6_mop_config_map.h
  tests/hw_specific/quasar/inc/tensix.h
  tests/hw_specific/quasar/inc/tensix_types.h
  tests/hw_specific/quasar/inc/tt_t6_trisc_map.h
  tests/python_tests/conftest.py
  tests/python_tests/helpers/chip_architecture.py
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_risc_compute.py
  tests/setup_testing_env.sh
  tests/sources/risc_compute_test.cpp
  tt_llk_quasar/common/inc/ckernel.h
  tt_llk_quasar/common/inc/ckernel_dest.h
  tt_llk_quasar/common/inc/ckernel_sfpu.h
  tt_llk_quasar/common/inc/ckernel_template.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_lrelu.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_recip.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_relu.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_sqrt.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_tanh.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_typecast_fp16b_uint16.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_typecast_int32_fp32.h
  tt_llk_quasar/instructions/assembly.yaml
  tt_llk_quasar/llk_lib/llk_defs.h
Labels: test-infra, performance, quasar

#685 Tiny Tile Matmul Testing: partial_face, num_faces, tile + face dimension sweep
  tests/python_tests/helpers/dimensions.py
  tests/python_tests/helpers/matmul_sweep.py
  tests/python_tests/helpers/param_config.py
  tests/python_tests/helpers/stimuli_generator.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_math_matmul.py
  tests/python_tests/test_matmul.py
  tests/python_tests/test_unpack_matmul.py
  tests/sources/eltwise_unary_datacopy_test.cpp
  tests/sources/math_matmul_test.cpp
  tests/sources/matmul_test.cpp
  tests/sources/unpack_matmul_test.cpp
Labels: test-infra

#702 [skip ci] build: update sfpi to 7.2.0
  tests/sfpi-version.sh
Labels: test-infra

#703 [skip ci] ci: make test timeout configurable
  .github/workflows/nightly.yml
  .github/workflows/run-perf-tests.yml
  .github/workflows/setup-and-test.yml
Labels: ci, performance

#706 Add isinf and isnan checks to SFPU kernel
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_isinf_isnan.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_rounding_ops.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_isinf_isnan.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_rounding_ops.h
Labels: blackhole, wormhole, metal-post-commit-tests
