Repository tenstorrent/tt-llk, pull requests merged in 2025-05, with the labels that each got.

#149 [Test Infra] Added Test Output Notifying User if Format Combination Triggered Dest Accumulation Enabled + Activating Input-Output Format Increasing Test Coverage
  tests/Makefile
  tests/helpers/include/data_format_inference.h
  tests/python_tests/conftest.py
  tests/python_tests/helpers/__init__.py
  tests/python_tests/helpers/format_config.py
  tests/python_tests/helpers/param_config.py
  tests/python_tests/test_eltwise_unary_datacopy.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_fill_dest.py
  tests/python_tests/test_matmul.py
  tests/python_tests/test_multiple_tiles_eltwise.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_reduce.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_tilize_calculate_untilize_L1.py
  tests/python_tests/test_unpack_tilize.py
  tests/python_tests/test_unpack_untilize.py
Labels: test-infra

#167 ci: remove docker container after each run
  .github/workflows/setup-and-test.yml
  .github/workflows/tt-metal-integration-tests.yml
Labels: wormhole-integration-tests, blackhole-integration-tests

#165 Remove extraneous SFPSWAP NOPs.
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_topk.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_topk.h
Labels: wormhole-integration-tests, blackhole-integration-tests

#155 Improve reciprocal precision.
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_binary.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_gelu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_recip.h
Labels: community, wormhole-integration-tests

#88 Throttle MM Perf
  tt_llk_blackhole/common/inc/cmath_common.h
  tt_llk_blackhole/llk_lib/llk_math_matmul.h
  tt_llk_wormhole_b0/common/inc/cmath_common.h
  tt_llk_wormhole_b0/llk_lib/llk_math_matmul.h
Labels: wormhole-integration-tests, blackhole-integration-tests

#135 Add support for 32-bit types to _llk_math_transpose_dest_.
  tt_llk_wormhole_b0/llk_lib/llk_math_transpose_dest.h
Labels: community, wormhole-integration-tests

#209 Add rounding ops to LLK
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_rounding_ops.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_rounding_ops.h
Labels: wormhole-integration-tests, blackhole-integration-tests

#269 Fixed reduce row test
  tests/python_tests/test_reduce.py
  tests/sources/reduce_test.cpp
Labels: blackhole, wormhole, test-infra

#275 Returning to old cosine implementation
  tests/sources/eltwise_unary_sfpu_test.cpp
Labels: wormhole, test-infra
