Repository tenstorrent/tt-llk, pull requests merged in 2025-06, with the labels that each got.

#248 [test Infra] Adding Bfp8_b to matmul tests
  tests/python_tests/test_matmul.py
  tests/python_tests/test_matmul_pack_untilize.py
Labels: test-infra

#281 ci: add and remove labels properly
  .github/workflows/on-pr.yml
Labels: ci

#284 ci: cancel ongoing integration tests after a new commit
  .github/workflows/run-metal-tests-on-label.yml
Labels: ci

#286 feat: Add celu impl with tests
  tests/firmware/riscv/common/llk_sfpu_types.h
  tests/helpers/include/params.h
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/sources/eltwise_unary_sfpu_test.cpp
  tt_llk_blackhole/common/inc/ckernel_defs.h
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_wormhole_b0/common/inc/ckernel_defs.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_activations.h
Labels: blackhole, wormhole, test-infra

#283 Enabled sfpu binary tests inside of test infra
  tests/helpers/include/params.h
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/test_sfpu_binary.py
  tests/sources/sfpu_binary_test.cpp
  tt_llk_blackhole/llk_lib/llk_math_eltwise_binary_sfpu.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary_sfpu.h
Labels: blackhole, wormhole, test-infra

#211 exp optimizations for SDPA
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_blackhole/instructions/assembly.yaml
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_wormhole_b0/instructions/assembly.yaml
Labels: wormhole-integration-tests, blackhole-integration-tests

#292 TT_REPLAY -> TTI_REPLAY
  tt_llk_blackhole/common/inc/ckernel.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_topk.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_topk.h
  tt_llk_wormhole_b0/llk_lib/llk_math_matmul.h
  tt_llk_wormhole_b0/llk_lib/llk_pack_untilize.h
  tt_llk_wormhole_b0/llk_lib/llk_unpack_AB_matmul.h
Labels: blackhole, wormhole, wormhole-integration-tests, blackhole-integration-tests

#228 Add comp ops to llk
  tests/firmware/riscv/common/llk_sfpu_types.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_comp.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_comp.h
Labels: blackhole, wormhole, test-infra, wormhole-integration-tests, blackhole-integration-tests

#295 fix: revert several PRs causing problems with llk integration into metal
  tests/sources/eltwise_unary_sfpu_test.cpp
  tests/sources/matmul_and_unary_sfpu_test.cpp
  tt_llk_blackhole/common/inc/cunpack_common.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_trigonometry.h
  tt_llk_wormhole_b0/common/inc/cunpack_common.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_trigonometry.h
Labels: blackhole, wormhole, test-infra

#304 Skipping tests that are not elwmul and sweep fidelity
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_multiple_tiles_eltwise.py
Labels: test-infra

#207 Copy 32-bit _llk_math_transpose_dest_ implementation to Blackhole.
  tests/python_tests/helpers/unpack.py
  tt_llk_blackhole/llk_lib/llk_math_transpose_dest.h
  tt_llk_blackhole/llk_lib/llk_unpack_A.h
Labels: community, blackhole, blackhole-integration-tests

#336 build: restructure Makefile
  tests/Makefile
Labels: test-infra

#337 chore: update testing requirements
  tests/requirements.txt
Labels: test-infra

#335 Add profiler zone for measuring kernel runtime
  tests/Makefile
  tests/helpers/src/trisc.cpp
  tests/python_tests/helpers/profiler.py
Labels: test-infra

#261 [tt-llk] Remove default values for `is_fp32_dest_acc_en` templates to enforce explicit DST_ACCUM_MODE forwarding
  tt_llk_blackhole/llk_lib/llk_pack.h
Labels: blackhole, blackhole-integration-tests

#341 exp_init: reset LoadMacroConfig[Lane].Misc for all lanes.
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp.h
Labels: blackhole, wormhole, wormhole-integration-tests, blackhole-integration-tests

#347 Fixing sfpi expected LREG11 value of -1
  tests/helpers/src/brisc.cpp
Labels: test-infra

#348 chore: change path of the deployed page
  .github/workflows/sort-issues.yml
Labels: ci

#349 Update celu testing iterations
  tests/sources/eltwise_unary_sfpu_test.cpp
Labels: test-infra

#350 docs: Beautify test infra docs
  tests/README.md
Labels: documentation, test-infra

#314 Add Top-level overview documentation
  docs/llk/l2/images/fpu_cell.png
  docs/llk/l2/images/input_tensor_example.png
  docs/llk/l2/images/row_major_order.png
  docs/llk/l2/images/tensix_core.png
  docs/llk/l2/images/tensix_core_data_flow.png
  docs/llk/l2/images/tensix_engine.png
  docs/llk/l2/images/tile_order_example.png
  docs/llk/l2/images/unpack_top_level.png
  docs/llk/l2/top_level_overview.md
Labels: documentation

#362 More robust sfpi updating
  tests/setup_testing_env.sh
  tests/sfpi-version.sh
  tests/sfpi_version.txt
Labels: test-infra

#369 ci: switch integration tests to run on the new blackhole runners
  .github/workflows/run-metal-tests-on-label.yml
Labels: blackhole-integration-tests, ci

#372 docs: add link to deepwiki
  README.md
Labels: documentation

#358 Add acosh implementation
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_trigonometry.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_trigonometry.h
Labels: blackhole, wormhole, wormhole-integration-tests, blackhole-integration-tests

#374 Fixup `profiler_overhead_test.py`
  tests/python_tests/test_profiler_overhead.py
  tests/sources/profiler_overhead_test.cpp
Labels: test-infra

#359 Fix transpose_dest on BH.
  tt_llk_blackhole/llk_lib/llk_math_transpose_dest.h
  tt_llk_wormhole_b0/llk_lib/llk_math_transpose_dest.h
Labels: blackhole, wormhole, wormhole-integration-tests, blackhole-integration-tests

#373 test: Binary int32 testing
  tests/helpers/include/params.h
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/test_sfpu_binary.py
  tests/sources/sfpu_binary_test.cpp
  tt_llk_blackhole/common/inc/ckernel_defs.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_binary.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_shift.h
  tt_llk_wormhole_b0/common/inc/ckernel_defs.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_binary.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_shift.h
Labels: blackhole, wormhole, test-infra

#365 Add instr_mod support for binary shift
  tests/sources/sfpu_binary_test.cpp
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_shift.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_shift.h
Labels: blackhole, wormhole, test-infra, wormhole-integration-tests, blackhole-integration-tests

#385 fix: revert "Add instr_mod support for binary shift (#365)"
  tests/sources/sfpu_binary_test.cpp
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_shift.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_shift.h
Labels: blackhole, wormhole, test-infra

#384 perf: isolate math performance
  tests/helpers/include/perf.h
  tests/python_tests/helpers/perf.py
  tests/python_tests/perf_eltwise_binary_fpu.py
  tests/sources/eltwise_binary_fpu_perf.cpp
Labels: test-infra, performance

#386 test :test_tube:: isolate pack performance
  tests/python_tests/helpers/perf.py
  tests/python_tests/perf_eltwise_binary_fpu.py
  tests/sources/eltwise_binary_fpu_perf.cpp
Labels: test-infra, performance

#388 tooling 🧑‍💻: add script to generate compile_flags.txt
  .gitignore
  tests/setup_clangd.sh
Labels: test-infra

#396 ci: properly label performance-related PRs
  .github/workflows/on-pr.yml
Labels: ci

#389 Revert "fix: revert "Add instr_mod support for binary shift (#365)""
  tests/sources/sfpu_binary_test.cpp
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_shift.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_shift.h
Labels: blackhole, wormhole, test-infra, wormhole-integration-tests, blackhole-integration-tests

#404 profiler ⌛: refactor how metadata is passed
  tests/Makefile
  tests/helpers/include/profiler.h
  tests/helpers/ld/sections.ld
  tests/python_tests/helpers/perf.py
  tests/python_tests/helpers/profiler.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_profiler_overhead.py
  tests/python_tests/test_profiler_primitives.py
Labels: test-infra, performance

#401 [Test Infra] Enable test infra to run on multiple tiles and random tensor input shape (First iteration)
  tests/Makefile
  tests/helpers/include/params.h
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/pack.py
  tests/python_tests/helpers/stimuli_generator.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/helpers/tilize_untilize.py
  tests/python_tests/helpers/unpack.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/test_eltwise_unary_datacopy.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_fill_dest.py
  tests/python_tests/test_matmul.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_matmul_pack_untilize.py
  tests/python_tests/test_matmul_unpack_tilize.py
  tests/python_tests/test_multiple_tiles_eltwise.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_reduce.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_tilize_calculate_untilize_L1.py
  tests/python_tests/test_unpack_tilize.py
  tests/python_tests/test_unpack_untilize.py
  tests/sources/eltwise_unary_datacopy_test.cpp
  tests/sources/eltwise_unary_sfpu_test.cpp
  tests/sources/fill_dest_test.cpp
  tests/sources/matmul_and_unary_sfpu_test.cpp
  tests/sources/matmul_pack_untilize_test.cpp
  tests/sources/matmul_test.cpp
  tests/sources/matmul_unpack_tilize_test.cpp
  tests/sources/multiple_tiles_eltwise_test.cpp
  tests/sources/pack_untilize_test.cpp
  tests/sources/reduce_test.cpp
  tests/sources/sfpu_binary_test.cpp
  tests/sources/tilize_calculate_untilize_L1.cpp
  tests/sources/unpack_tilize_test.cpp
  tests/sources/unpack_untilize_test.cpp
Labels: test-infra

#407 test infra :test_tube:: unify test running
  tests/helpers/include/profiler.h
  tests/python_tests/helpers/perf.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/test_eltwise_unary_datacopy.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_matmul.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_matmul_pack_untilize.py
  tests/python_tests/test_matmul_unpack_tilize.py
  tests/python_tests/test_multiple_tiles_eltwise.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_profiler_overhead.py
  tests/python_tests/test_profiler_primitives.py
  tests/python_tests/test_reduce.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_tilize_calculate_untilize_L1.py
  tests/python_tests/test_unpack_tilize.py
  tests/python_tests/test_unpack_untilize.py
Labels: test-infra, performance

#408 "Revert" pack_untilize static assert for yolov4
  tt_llk_blackhole/llk_lib/llk_pack_untilize.h
Labels: blackhole

#379 chore: update tt-exalens version
  .github/scripts/install-exalens.sh
  tests/python_tests/helpers/device.py
  tests/setup_external_testing_env.sh
Labels: test-infra, ci

#416 Remove harbor from container path since its down
  .github/workflows/setup-and-test.yml
Labels: ci

#414 Add binary sfpu params to LLK
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_comp.h
  tt_llk_blackhole/llk_lib/llk_math_eltwise_binary_sfpu_params.h
  tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary_sfpu_params.h
Labels: blackhole, wormhole

#422 Relocate the TRISC kernel running write to mailbox
  tests/helpers/src/trisc.cpp
  tests/python_tests/conftest.py
  tests/python_tests/helpers/device.py
Labels: test-infra

#439 ci: use harbor for faster fetching of Docker images
  .github/workflows/setup-and-test.yml
Labels: ci
