Repository tenstorrent/tt-llk, changes with the owners that CODEOWNERS names for each.
All owners: @amahmudTT, @nvelickovicTT, @rdjogoTT, @rtawfik01, @fvranicTT, @ldjurovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

# Top-level files
/* @amahmudTT @nvelickovicTT @rdjogoTT @rtawfik01

# CI/CD
.github/ @fvranicTT @nvelickovicTT

# Tests
tests/ @fvranicTT @ldjurovicTT @nvelickovicTT @skotaracTT @skrsmanovicTT @sstanisicTT

# Blackhole
tt_llk_blackhole/ @amahmudTT @nvelickovicTT @rdjogoTT @rtawfik01

# Wormhole
tt_llk_wormhole_b0/ @amahmudTT @nvelickovicTT @rdjogoTT @rtawfik01

test infra :test_tube:: decouple build from chip architecture
  tests/Makefile
  tests/python_tests/conftest.py
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/profiler.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

test infra :pencil2:: document makefile rules
  tests/Makefile
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Float32 to multiple tiles eltwise test
  tests/python_tests/test_multiple_tiles_eltwise.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

Adding Float32 support for pack untilize
  tests/helpers/include/data_format_inference.h
  tests/helpers/include/params.h
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_pack_untilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Bfp8_b to unary_sfpu testing
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/unpack.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/test_eltwise_unary_sfpu.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Float32 and Bfp8_b to matmul_unary_sfpu test
  tests/python_tests/helpers/utils.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

saving curr work
  tests/helpers/include/data_format_inference.h
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/helpers/unpack.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_unpack_tilize.py
  tests/python_tests/test_unpack_untilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

Adding Float32 and Bfp8_b to Sfpu Binary testing
  tests/helpers/include/data_format_inference.h
  tests/helpers/include/params.h
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_sfpu_binary.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Float32 + Bfp8_b for Test Reduce
  tests/python_tests/test_reduce.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Float32 + Bfp8_b to unpack_untilize test
  tests/helpers/include/data_format_inference.h
  tests/python_tests/test_unpack_untilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Float32 for test_matmul_unpack_tilize.py
  tests/python_tests/test_matmul_unpack_tilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix: support for Bfp8_b unary_sfpu test
  tests/python_tests/test_matmul_and_unary_sfpu.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Bfp8_b to pack_untilize test
  tests/python_tests/test_pack_untilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: Float32 to tilize_calculate_untilize test
  tests/python_tests/test_tilize_calculate_untilize_L1.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix comments
  tests/python_tests/test_matmul_pack_untilize.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_tilize_calculate_untilize_L1.py
  tests/python_tests/test_unpack_tilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix: formatting
  tests/helpers/include/data_format_inference.h
  tests/helpers/include/params.h
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/helpers/unpack.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_matmul_unpack_tilize.py
  tests/python_tests/test_multiple_tiles_eltwise.py
  tests/python_tests/test_pack_untilize.py
  tests/python_tests/test_reduce.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_tilize_calculate_untilize_L1.py
  tests/python_tests/test_unpack_tilize.py
  tests/python_tests/test_unpack_untilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: comments
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/test_config.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_sfpu_binary.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

add: comments
  tests/python_tests/helpers/utils.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix: handing bfp8_b shared exponent handling + accumulated percision loss PCC from fused testing + edge case, non-finite number handling from sfpu ops
  tests/python_tests/helpers/format_config.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/pytest.ini
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_matmul_unpack_tilize.py
  tests/python_tests/test_sfpu_binary.py
  tests/python_tests/test_unpack_tilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix formatting :)
  tests/python_tests/test_unpack_untilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

update: Float32 not supported for multiple tile when doing unpack untilize
  tests/python_tests/test_unpack_untilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

remove: truncate_16 bit flag, Float32 will truncate to float16_a_b when unpacking to src registers
  tests/helpers/include/data_format_inference.h
  tests/helpers/include/params.h
  tests/python_tests/helpers/test_config.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix: type for L1_to_L1_iterations + update: pcc handling for accumulated percision loss, only applicable for Bfp8_b since percision falls beow 99%
  tests/python_tests/helpers/utils.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix: Float32 + fp32_dest_acc_en bug/typo
  tests/python_tests/test_sfpu_binary.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fixup!
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/unpack.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
  tests/python_tests/test_matmul_unpack_tilize.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix: Float16 & Float32 with dest_acc is off
  tests/python_tests/test_sfpu_binary.py
  tests/sources/sfpu_binary_test.cpp
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix: format handling fp32 unpacking to src depending on fp32_dest_acc_en
  tests/helpers/include/data_format_inference.h
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

Revert "fix: Float16 & Float32 with dest_acc is off"
  tests/python_tests/test_sfpu_binary.py
  tests/sources/sfpu_binary_test.cpp
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fixup! fixup!
  tests/python_tests/helpers/unpack.py
  tests/python_tests/helpers/utils.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/python_tests/test_matmul_and_unary_sfpu.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

fix:rebase mistake
  tests/python_tests/helpers/golden_generators.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

typo :/
  tests/python_tests/helpers/golden_generators.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

feat: Add negative op support
  tests/firmware/riscv/common/llk_sfpu_types.h
  tests/helpers/include/params.h
  tests/python_tests/helpers/format_arg_mapping.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/test_eltwise_unary_sfpu.py
  tests/sources/eltwise_unary_sfpu_test.cpp
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_math.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_math.h
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT, @amahmudTT, @rdjogoTT, @rtawfik01

minor fixes
  tt_llk_blackhole/common/inc/ckernel_sfpu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_negative.h
  tt_llk_wormhole_b0/common/inc/ckernel_sfpu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_negative.h
Owners: @amahmudTT, @nvelickovicTT, @rdjogoTT, @rtawfik01

rebase
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/test_eltwise_unary_sfpu.py
Owners: @fvranicTT, @ldjurovicTT, @nvelickovicTT, @skotaracTT, @skrsmanovicTT, @sstanisicTT

Add alternate versions of exp (WIP):
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp.h
Owners: @amahmudTT, @nvelickovicTT, @rdjogoTT, @rtawfik01
